{%extends 'index.html'%}
{%block content%}
<html>
    <head>
        <title></title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.3/dist/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    </head>
    <body>
        <div class="Container">
            
            <div class="row">
                <div class="col">
                    <form method="post">
                        {% csrf_token %}
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon1">FOOD ID</span>
                            </div>
                            <input type="text" class="form-control" name="FoodID"  aria-describedby="basic-addon1">
                        </div>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon1">FOOD NAME</span>
                            </div>
                            <input type="text" class="form-control" name="Foodname" aria-label="Username" aria-describedby="basic-addon1">
                        </div>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon1">FOOD PRICE</span>
                            </div>
                            <input type="text" class="form-control" name="Foodprice" aria-label="Username" aria-describedby="basic-addon1">
                        </div>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon1">FOOD Category</span>
                            </div>
                            <input type="text" class="form-control" name="Foodcat" aria-label="Username" aria-describedby="basic-addon1">
                        </div>
                        <div>
                            <button type="submit" class="btn btn-info">Submit</button>
                        </div>
                    </form>
                </div>

                <div class="col">
                    <table class="table">
                        <thead>
                          <tr>
                            <th scope="col">Sr.no.</th>
                            <th scope="col">Foodname</th>
                            <th scope="col">Foodprice</th>
                            <th scope="col">Food Category</th>
                          </tr>
                        </thead>
                        <tbody>
                            {% for data in food_dt%}
                            <tr>
                                <td>{{data.Food_id}}</td>
                                <td>{{data.Food_name}}</td>
                                <td>{{data.Food_price}}</td>
                                <td>{{data.Food_cate}}</td>
                                
                            </tr>
                            {%endfor%}
                        </tbody>
                    </table>
                </div>
            </div>

        </div>

    </body>
</html>
{%endblock%}