{%extends 'index.html'%}
{%block content%}
    

<div class="row">
    <div class="col-3">
        <div class="card" style="width: 18rem;">
            <img src={{dt.img}} class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">{{dt.title}}</h5>
                <p class="card-text">{{dt.price}}</p>
                <p class="card-text">{{dt.description}}</p>
                <p class="card-text"><b>{{dt.category}}</b></p>
            </div>

            
        </div>
        {%for i in dt1%}
        <img src={{i.img}} class="card-img-top1" alt="..." width="25" height="40">
       
        {% endfor %}
    </div>
</div>

{%endblock%}